<div fxLayout="column" fxFill>

  <div fxLayout="column" fxFill>
    <!-- Side Nav Section
         <div fxFlex="10">

        </div>
        -->
    <!-- Contents Section
           <div fxFlex="90" fxFill fxLayout="column">
            <router-outlet ></router-outlet>
        </div>-->

    <!-- Different approach -->

    <mat-sidenav-container >
      <mat-sidenav  #leftSidenav mode="side" opened class="primary-background-color" *ngIf="isUserLoggedIn"
         >
        <app-sidenav ></app-sidenav>
      </mat-sidenav>
      <mat-sidenav-content
        [@onMainContentChange]="onSideNavChange ? 'open' : 'close'"
        [ngStyle]=" {'margin-left': isUserLoggedIn ? '70px' : '0px'}">
        <div class="main_content">
          <div fxFill fxLayout="column">
            <router-outlet></router-outlet>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

  <!--<div class="footer" fxLayout="column"  >

            <app-footer></app-footer>
        </div>-->
</div>
